body{
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 570px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.div-title {
    width: 550px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 0 0 10px 0 ;
}

.div-title p {
    text-align: center;
    margin: auto;
}

.div-title img {
    width: 20px;
    height: 20px;
}

.div-contents {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

.login-button button{
    background-color: rgb(10, 137, 255);
    color: white;
    border-radius: 5px;
    border-style: none;
    font-size: 24px;
    height: 60px;
}

.div-check {
    display: flex;
}

.div-check img {
    width: 20px;
    height: 20px;
    margin-top: 17px;
}

.div-check p {
    padding-left: 5px;
}

button {
    width: 530px;
    height: 50px;
    border-radius: 5px;
}

.div-find {
    display: flex;
    width: 300px;
    justify-content: center;
    margin: auto;
}

.div-find button {
    border-style: none;
    background-color: aliceblue;
    flex-direction: row;
    flex-basis: content;
}

.div-button p {
    text-align: center;
}

.google-button button {
    background-color: aliceblue;
    border:2px solid rgb(201, 201, 201);
    margin-bottom: 10px;
}

.face-button button {
    background-color: aliceblue;
    border:2px solid rgb(84, 181, 255);
    margin-bottom: 10px;
}

.naver-button button {
    background-color: aliceblue;
    border:2px solid rgb(38, 238, 68);
    margin-bottom: 10px;
}

.kakao-button button {
    background-color: aliceblue;
    border:2px solid rgb(255, 230, 0);
    margin-bottom: 10px;
}

.google-button img {
    float: left;
}

.face-button img {
    float: left;
}

.naver-button img {
    float: left;
}

.kakao-button img {
    float: left;
}
