body{
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 800px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.div-title {
    width: 550px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 0 0 10px 0 ;
}

.div-title p {
    text-align: center;
    margin: auto;
}

.div-title img {
    width: 20px;
    height: 20px;
}

.div-contents {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
}

.login-button button{
    background-color: rgb(10, 137, 255);
    color: white;
    border-radius: 5px;
    border-style: none;
}

.div-check {
    display: flex;
}

.div-check img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

button {
    width: 530px;
    height: 50px;
    border-radius: 5px;
}

.div-find {
    display: flex;
    width: 300px;
    justify-content: center;
}

.div-find button {
    border-style: none;
    background-color: aliceblue;
    flex-direction: row;
    flex-basis: content;
}

.div-button p {
    text-align: center;
}