body{
    background-color : gray;
}
.logo img{
    width: 20vh;
    height: 5vh;
}

.nav-bar{
    background-color :white;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    flex-basis: 10%;
}

.search-bar{
    display: flex;
    flex-direction: column;
    align-items: 60%;
}

.search-icon{
    flex-basis: 10%;
}

.search-icon img{
    width: 5vh;
    height: 5vh;
}

.search-bar-first{
    display: flex;
    border: 0.5vh black solid;
}

.box{
    flex-basis: 90%;
    display: flex;
    align-items: center;
}

.search-bar-second{
    white-space: nowrap;
}


.menu-right{
    display: flex;
    flex-basis : 28%;
    justify-content : flex-end;

}

.download{
    margin-right : 4vh;
}